* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: sans-serif;
    background-position-y: 75px;
    background-image: url(/Images/Fondo/Alternative-al-bitcoin-1-scaled.jpg.png);
    background-color: #222222;
    background-repeat: no-repeat;
    /* background-size: cover; */
}


/* header content */

.header {
    z-index: 5;
    background-color: #0e0e0e;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    filter: opacity(0.95);
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: white;
    text-decoration: none;
    max-width: 992px;
}

.links {
    margin-left: 12px;
    margin-top: 20px;
    width: 150px;
    display: block;
    justify-content: center;
}

.found {
    position: relative;
    width: 80px;
    height: auto;
}

.found:hover {
    transition: 0.4s;
    filter: drop-shadow(0px 0px 20px grey);
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 14px;
    margin: 0 10px;
    line-height: 75px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-item-signIn {
    font-size: 14px;
    margin: 0 10px;
    line-height: 75px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-menu-link-signIn {
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: silver;
    color: #0e0e0e;
}

.nav-menu-link-about {
    font-weight: bold;
    color: goldenrod;
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-menu-link-about:hover {
    filter: drop-shadow(0px 0px 20px gold);
    transition: 0.4s;
}

.nav-menu-item:hover {
    transform: scale(1.2);
    transition: 0.4s;
    filter: drop-shadow(0px 0px 20px rgba(185, 185, 185, 0.685));
}

.nav-menu-item-signIn:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 20px rgba(185, 185, 185, 0.685));
    transition: 0.4s;
}

.nav-menu-link:hover {
    filter: drop-shadow(0px 0px 20px #b87333);
    transition: 0.4s;
}


/* end of header content */


/* main content */

section {
    height: 100%;
    margin-bottom: 15%;
    justify-content: space-around;
    display: flex;
}

.principal-quot {
    color: white;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.contract {
    height: min-content;
    width: auto;
}

.contract-btn {
    width: 300px;
    height: 40px;
    border-radius: 25px;
    color: white;
    background-color: #0e0e0e;
    border: none;
    opacity: 0.9;
    cursor: pointer;
}

.main-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 15%;
    color: goldenrod;
}

.column {
    text-transform: uppercase;
    text-align: center !important;
    width: 400px;
    padding: 25px;
    height: fit-content;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    padding: 15px;
}

p {
    font-size: 12px;
    color: white;
    text-align: center;
}

.roadmap-img {
    margin: 25px;
    height: auto;
    width: 850px;
}

.roadmap {
    text-align: center;
}

.title {
    text-align: center;
}

.team-container {
    padding-bottom: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.team-person {
    text-align: center;
}

.team-img {
    margin: 10px;
    height: auto;
    width: 400px;
}

.team-img:hover {
    filter: drop-shadow(0 0 20px grey);
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 1s;
}


/* end main content */


/* footer content */

.contactUs {
    margin-top: 25px;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 0px 10px black);
}

.redes {
    filter: drop-shadow(0px 0px 20px black);
    opacity: 0.8;
    padding-top: 12px;
    width: 350px;
    height: 125px;
    background-color: black;
    border-radius: 5px;
}

.token-logo-bil {
    margin: 10px;
    height: auto;
    width: 140px;
}

.token-logo {
    margin: 25px;
    height: auto;
    width: 110px;
}

h2 {
    color: silver;
    filter: drop-shadow(0px 0px 25px silver);
}

h3 {
    color: goldenrod;
    filter: drop-shadow(0px 0px 10px black);
}

.mails {
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0px 0px 20px black);
    padding: 12px 12px 12px 22px;
    opacity: 0.95;
    margin-right: 50px;
    text-align: center;
}

.mail {
    padding: 20px;
}

.red-icon {
    height: auto;
    width: 35px;
}

.red-icons {
    display: flex;
    justify-content: space-around;
}

footer {
    background-image: url(/images/Fondo/texture-leather-wallpaper-preview.jpg);
    filter: drop-shadow(0px -100px 150px black);
    backface-visibility: visible;
    background-position-x: center;
    margin-top: 15px;
    line-height: 50px;
    color: white;
    text-align: center;
    padding: 24px 0px 0px 0px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.copyright-content {
    background-color: black;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.copyright {
    filter: drop-shadow(0px 0px 20px black);
    padding: 10px;
    text-align: center;
    line-height: 1.4;
    font-size: 12px;
}


/* end footer content */